# List
- List is mutable
- List is hetrogeneous '(mixed data can be stored)'
- List can have duplicate values
- List is indexed '(can be sliced)'
- List uses square brackets "[]" & is separated by commas

### What to Learn
- Creating a list
- Indexing & Slicing
- Traversal(looping)
- Function(11)
- Comprehension
- Lambda,map & Filter

In [31]:
#list of string
names=["Antonio","Bassanio","Shylock","Portia"]
#List of numbers
factors=[1,2,3,4,5,6]
#Mixed data list
info=["ujjwal",2,3,"w"]
#Nested list
c2d=[[1,2,3,4],[2,3,4,5,6]]
#List from function
fact="icecube sites in its own blood"
words=fact.split()

In [32]:
#Quick list hack with same values
x=[1]*20
print(x)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [33]:
#List from existing variable
a=10
b="something"
c=9
l=[a,b,c]
print(l)

[10, 'something', 9]

In [34]:
value=[]
value.append(a)
value.append(30)
print(value)

[10, 30]

In [35]:
numbers=[]
for i in range(1,100):
    numbers.append(i)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [36]:
fact[-1]

'd'

In [37]:
fruit=[]
fruit.append("Apple")
fruit.append("Banana")
fruit.append("Cherry")
fruit.append("Guava")
fruit

['Apple', 'Banana', 'Cherry', 'Guava']

In [38]:
fruit.insert(-1,"fig")
fruit

['Apple', 'Banana', 'Cherry', 'fig', 'Guava']

In [39]:
fruit.insert(1,"Avocado")
fruit

['Apple', 'Avocado', 'Banana', 'Cherry', 'fig', 'Guava']

In [40]:
fruit.insert(10,"mango")#TO add at last use any number greater than size of list
fruit

['Apple', 'Avocado', 'Banana', 'Cherry', 'fig', 'Guava', 'mango']

In [41]:
dry_fruits=["Almond","Casewnut","Walnut"]
dry_fruits

['Almond', 'Casewnut', 'Walnut']

In [42]:
fruit.extend(dry_fruits)#Adding 2 functions
fruit

['Apple',
 'Avocado',
 'Banana',
 'Cherry',
 'fig',
 'Guava',
 'mango',
 'Almond',
 'Casewnut',
 'Walnut']

In [43]:
len(fruit)

10

In [44]:
if "mango" in fruit:
    fruit.remove('mango') # Remove with value i.e. mango
    print(fruit)
else:
    print("No mango found")

['Apple', 'Avocado', 'Banana', 'Cherry', 'fig', 'Guava', 'Almond', 'Casewnut', 'Walnut']

In [45]:
if "papaya" in fruit:
    fruit.remove("papaya")
    print(fruit)
else:
    print("NO papaya found")

NO papaya found

In [46]:
x=[1,2,3,[4,5,6]]
x

[1, 2, 3, [4, 5, 6]]

# Pop can be used in 2 ways
- list.pop()    => remove the last value in list and gives us that value
- list.pop(idx) => remove that value from idx if idx is valid and gives the value

In [47]:
v=fruit.pop()
print("removed_values=>",v)
print("list=>",fruit)

removed_values=> Walnut
list=> ['Apple', 'Avocado', 'Banana', 'Cherry', 'fig', 'Guava', 'Almond', 'Casewnut']

In [48]:
v=fruit.pop(3)
print("removed_values=>",v)
print("list=>",fruit)

removed_values=> Cherry
list=> ['Apple', 'Avocado', 'Banana', 'fig', 'Guava', 'Almond', 'Casewnut']

In [49]:
fruit.clear()
fruit

[]

In [50]:
fruit.append(1,2) #Two values can't be addes by using append

TypeError: list.append() takes exactly one argument (2 given)

In [51]:
movies= [
    'love aajkal',
    'eternals',
    'venom',
    'jungle cruise',
    'free guy',
    'the mauritanian',
    'the black widow',

]

In [52]:
print('normal\n',movies)
movies.reverse()
print("reverse\n",movies)

normal
 ['love aajkal', 'eternals', 'venom', 'jungle cruise', 'free guy', 'the mauritanian', 'the black widow']
reverse
 ['the black widow', 'the mauritanian', 'free guy', 'jungle cruise', 'venom', 'eternals', 'love aajkal']

In [53]:
movies.sort()#Sorting 
print(movies)

['eternals', 'free guy', 'jungle cruise', 'love aajkal', 'the black widow', 'the mauritanian', 'venom']

In [54]:
movies.sort(reverse=True)
print(movies)

['venom', 'the mauritanian', 'the black widow', 'love aajkal', 'jungle cruise', 'free guy', 'eternals']

In [ ]:
dup_mov=movies.copy() #creating a duplicate copy of original list 
print(dup_mov)

['venom', 'the mauritaniun', 'the black widow', 'love aajkal', 'jungle cruise', 'free guy', 'eternals']

In [55]:
movies.index('the mauritanian')

1

In [57]:
if "love aajkal" in movies:
    print (movies.index("love aajkal"))

3

In [59]:
x= [1,2,3,4,2,3,5,7,8,4,4,6,8,9,6,3,4,5,6,7,8,8,6,1,2,3,6,7,3,2.4,4,3,3,5,6,7,8,]

In [61]:
x.count(1)

2

In [62]:
x.count(4)

5

In [1]:
#Wap to enter 15 numbers in list,then print the sum,min,max,mean of that list
nums=[]
for i in range(15):
    val=int(input(f'enter {i+1} number:'))
    nums.append(val)
print("sum of nums=",sum(nums)) 
print("min of nums=",min(nums))
print("max of nums=",max(nums)) 
print("mean of nums=",sum(nums)/len(nums))

sum of nums= 83
min of nums= 3
max of nums= 8
mean of nums= 5.533333333333333