In [3]:
x="Python is a programming language"
for i in x :
    print(i)

P
y
t
h
o
n

i
s

a

p
r
o
g
r
a
m
m
i
n
g

l
a
n
g
u
a
g
e

In [7]:
fruits=["mango","banana","lemon"]
for item in fruits:
    print(f"I have a {item}")

I have a mango
I have a banana
I have a lemon

In [10]:
movies=["the holy grail","KGF","terminator"]
for letter in movies:
    print(letter,len(letter))

the holy grail 14
KGF 3
terminator 10

In [11]:
#for loop with counter
for i,name in enumerate(movies):
    print(f"{i}-{name}")

0-the holy grail
1-KGF
2-terminator

In [14]:
for i in range(5):  
    print("python",i)

python 0
python 1
python 2
python 3
python 4

In [15]:
for i in range(5):
    print("python")

python
python
python
python
python

In [21]:
for num  in range(0,50,5):
    print("level",num)

level 0
level 5
level 10
level 15
level 20
level 25
level 30
level 35
level 40
level 45

In [23]:
#pattern loop
for i in range(12):
    print(i * "na")

na
nana
nanana
nananana
nanananana
nananananana
nanananananana
nananananananana
nanananananananana
nananananananananana
nanananananananananana

In [25]:
#reverse 
for num in range(10,0,-1):
    print(num)

10
9
8
7
6
5
4
3
2
1

In [34]:
#wap  to check  a number even or odd from 1 to 102

for i in range(1,102):
    if(i%2==0):
        print(i," is even")
    else:
        print(i," is odd")

1  is odd
2  is even
3  is odd
4  is even
5  is odd
6  is even
7  is odd
8  is even
9  is odd
10  is even
11  is odd
12  is even
13  is odd
14  is even
15  is odd
16  is even
17  is odd
18  is even
19  is odd
20  is even
21  is odd
22  is even
23  is odd
24  is even
25  is odd
26  is even
27  is odd
28  is even
29  is odd
30  is even
31  is odd
32  is even
33  is odd
34  is even
35  is odd
36  is even
37  is odd
38  is even
39  is odd
40  is even
41  is odd
42  is even
43  is odd
44  is even
45  is odd
46  is even
47  is odd
48  is even
49  is odd
50  is even
51  is odd
52  is even
53  is odd
54  is even
55  is odd
56  is even
57  is odd
58  is even
59  is odd
60  is even
61  is odd
62  is even
63  is odd
64  is even
65  is odd
66  is even
67  is odd
68  is even
69  is odd
70  is even
71  is odd
72  is even
73  is odd
74  is even
75  is odd
76  is even
77  is odd
78  is even
79  is odd
80  is even
81  is odd
82  is even
83  is odd
84  is even
85  is odd
86  is even
87  is odd
88  is even
89  is odd
90  is even
91  is odd
92  is even
93  is odd
94  is even
95  is odd
96  is even
97  is odd
98  is even
99  is odd
100  is even
101  is odd

In [40]:
#sum of all even numbers from 2 to 101
sum=0
for num in range (2,102):
    if(num%2==0):
        sum=sum+num
print("sum is",sum)

sum is 2550

In [50]:
#Average of all even numbers from 2 to 101
sum=c=0
for num in range (2,102):
    if(num%2 != 0):
        c= c+1
        sum=sum+num
avg = sum/c       
print("Average is",avg)

Average is 52.0

In [29]:
#Best method     #Dynamic
c=0
for i in range(1,6):
    for j in range(1,6):
        c=i*j
        print(c,end='\t')
    print()

1	2	3	4	5
2	4	6	8	10
3	6	9	12	15
4	8	12	16	20
5	10	15	20	25

In [24]:
for i in range(1,6):   
    print(1*i,2*i,3*i,4*i,5*i,sep=" ")

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

In [30]:
x=1
while x<5:
    print('run')
    x+=1
print("stop")

run
run
run
run
stop

In [35]:
n=1000
sum=0
i=1
while i<=n:
    sum=sum+i
    i=i+1
print("The sum is",sum)

The sum is 500500

In [46]:
#To print multiple lines  
poem=""
while input('Do you want to write another line?[y]')=="y":
    line =input(">>>")
    poem+=line
chars=len(poem)
print(f"total chars in poem is{chars}")

total chars in poem is26

In [47]:
print(poem)

twinkle twinklelittle star

In [52]:
#continue
x=[1,2,3,4,5," ",6,7,8,9,10]
total=0
for i in x:
    if isinstance(i,str):
        continue
    total+=i
print(total)

55

In [54]:
#continue
x=[1,2,3,4,5,6,7,8,9,10] 
total=0
for i in x:
    if i in [4,5]:
        continue
    total+=i
print(total)

46

In [6]:
#To print multiple lines #best & easy 
poem=""
while True:
    line=input("Enter the poem")
    if line:   # Checking if length of line is greater than zero
        poem+=line+"\n"
    else:
        break
print("total chars",len(poem))
print(poem)

total chars 42
jonny jonny
yes papa
eating sugar
no papa

In [1]:
a="Avocado"
print(a)
print (type(a))

Avocado
<class 'str'>

In [2]:
a='Avocado'
print(a)
print (type(a))

Avocado
<class 'str'>

In [4]:
c=" The Monster was 20'feet taal"
print(c)

 The Monster was 20'feet taal

In [5]:
d='the wall is 45" high'
print(d)

the wall is 45" high

#Sting-> what we need to know

- Indexing & Slicing
- Functions

In [8]:
#Accesing string character in Python
str = 'Ujjwal Shukla'
print('str=,str')
#First characyer
print('str[0]=',str[0])
#second characyer
print('str[1]=',str[1])
#Third characyer
print('str[-1]=',str[-1])
#Fourth characyer
print('str[-2]=',str[-2])

str=,str
str[0]= U
str[1]= j
str[-1]= a
str[-2]= l

In [9]:
name="wikinews"
name1="encyclopedia"
a=name[0:4]

In [10]:
b=name1[7:]

In [11]:
print(a+b)

wikipedia




#FORMATTING FUNCTION

- FORMATTING
    - upper
    - Lower
    - title
    - Capitalize
    - Swapcase
    - Casefold
    - formt
    - ljust
    - rjust
    - center
- VALIDATION
    - isalpha
    - isalnum
    - isnumeric
    - isspace
    - isdigit
    - isprintable
    - isupper
    - islower
    - startswith
    - endswith
    -etc
- UTILITY
    - count
    - find
    - replace
    - strip
    - join
    - split

In [3]:
quote="If you are searching for that person who change your life,just look at  the mirror"
#replace all a from quote
for char in quote:
 g=quote.replace("a","")
print(g)

If you re serching for tht person who chnge your life,just look t  the mirror

In [4]:
junk="this~!@#$%^&*()is@#$&&a#$%%&&good$%&*%$#@!boy"
punc="~!@##$%%^^&&***()"
for char in punc:
    junk=junk.replace(char,"")
print(junk)

thisisagoodboy

In [5]:
q=quote #copy the variable 
for vowel in "aeiouAEIOU":
    q=q.replace(vowel,"")
print("original:",quote)
print("no vowel:",q)

original: If you are searching for that person who change your life,just look at  the mirror
no vowel: f y r srchng fr tht prsn wh chng yr lf,jst lk t  th mrrr

In [14]:
quote.count("e")

6

In [6]:
from string import ascii_letters
for letter in ascii_letters:
    occurs1 = quote.count(letter)
    if occurs1:
      print(f"{letter}->{occurs1}")

a->5
c->2
e->6
f->3
g->2
h->5
i->3
j->1
k->1
l->2
m->1
n->3
o->8
p->1
r->8
s->3
t->5
u->3
w->1
y->2
I->1

In [32]:
quote.split()

['If',
 'you',
 'are',
 'searching',
 'for',
 'that',
 'person',
 'who',
 'change',
 'your',
 'life,just',
 'look',
 'at',
 'the',
 'mirror']

In [33]:
words=quote.split()
print("we have",len(words),"words")

we have 15 words

In [38]:
quote.split("e") #split the word or sentence from where it gets e

['If you ar',
 ' s',
 'arching for that p',
 'rson who chang',
 ' your lif',
 ',just look at  th',
 ' mirror']

In [7]:
quote.split(",")

['If you are searching for that person who change your life',
 'just look at  the mirror']

In [8]:
quote.title()

'If You Are Searching For That Person Who Change Your Life,Just Look At  The Mirror'

# wap to take use input & check the data,if it is numeric,convert it to number else if the data is alphanumeric then extract onlynumbers and convert it

In [17]:
data=input("enter the data")
if data.isnumeric():
    num=int(data)
    print("Data converted to number:",num)
else:
    temp=""
    for char in data:
        if char.isnumeric():
            temp+=char
    if temp:
        num=int(temp)
        print("Data converted to number:",num)
    else:
        print("Your data does not contain any numbers")

Your data does not contain any numbers

In [21]:
data=input("enter the data")
if data.isnumeric():
    num=int(data)
    print("Data converted to number:",num)
elif data.isalnum():
    temp=""
    for char in data:
        if char.isnumeric():
            temp+=char
    if temp:
        num=int(temp)
        print("Data converted to number:",num)
    else:
        print("Data is only alphabets")
else:
    print("Data is wierd")

Data converted to number: 245

In [ ]:
# Write a simple textmenu based calculator for doing basic options like addition,substraction,multiplication

print("enter the menu")
print("1-Addition")
print("2-Substraction")
print("3-Multiplication")
calc=input("Enter your choice")
if calc=="1":
    num1=int(input("enter first number"))
    num2=int(input("ente second number"))

# String is immutable(unchangeable)

In [1]:
k="ejd"

In [3]:
k[3]="hjg"

TypeError: 'str' object does not support item assignment